{% extends 'layout.html' %}

{% block yield %}

<div class="mt-16">
	<a href="{% url 'profile'%}">profile</a>
	<br>	
	<a href="{% url 'asking'%}">asking</a>	
	<br>	
	
	<a href="{% url 'clientcreateprofile'%}">clientcreateprofile</a>	
	
	<br>	
	<a href="{% url 'seekercreateprofile'%}">seekercreateprofile</a>	
	<br>	
	<a href="{% url 'create_projects'%}">create_projects</a>	
	<br>	
	<a href="{% url 'profile'%}">profile</a>	
	<br>	
	<a href="{% url 'profile'%}">profile</a>	
	<a href="{% url 'profile'%}">profile</a>	



</div>


{% endblock %}